<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /ShoeRetailErp/public/
    
    # Allow access to existing files and directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Rewrite all requests to index.php while maintaining the original request
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

# Disable directory listing
Options -Indexes

# Set default document
DirectoryIndex index.php
